body{
    background-color: rgba(41, 119, 221, 0.74);
    color: white;
}

h1{
    text-align: center;
}

section{
    width: 400px;
    height: auto;
    background-color: white;
    color: black;
    border-radius: 8px;
    box-shadow: 5px 8px rgba(116, 114, 114, 0.233);
    margin: auto;   
    padding: 20px;
}

footer{
    margin-top: 40px;
    text-align: center;
}